<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Inserimento volo</title>
		
		<style>
			table, th, td {
			  border: 1px solid black;
			}
		</style>
		
	</head>
<body>

	<table>
	   <thead>
	        <tr>
	            <th> Codice </th>
	            <th> Numero bagagli in cabina </th>
	        </tr>
    	</thead>
	    <tbody>
	        <tr th:each="aereo : ${aerei}">
	            <td><span th:text="${aereo.getCodiceAereo()}">  </span></td>
	            <td><span th:text="${aereo.get_num_bagagli_cabina()}">  </span></td>
	        </tr>
	    </tbody>
    </table>
    
    <br>
    
    <form th:action="@{/operatore/inserisciVolo}" th:object="${volo}" method="post">
    
	  <label for="codiceAereo">Codice aereo:</label>

		<select th:field="*{codiceAereo}">
		    <option th:each="aereo : ${aerei}" th:value="${aereo.getCodiceAereo()}" th:text="${aereo.getCodiceAereo()}"></option>
		</select><br><br>
	  
	  
	   <label for="orario">Orario:</label>
	   <input type="datetime-local" th:field="*{orario}" id="orario"
		       name="orario" value="2018-06-12T19:30:00"
      			 min="2022-01-30T00:00:00" max="2023-01-01T00:00:00" required="required"><br><br>
			   
	   <label for="prezzo">Prezzo:</label>
	   <input type="double" th:field="*{prezzo}" id="prezzo" name="prezzo" required="required"><br><br>
	  
	   <label for="aeroportA">Aeroporto di arrivo:</label>
	   <input type="text" th:field="*{aeroportoArrivo}" id="aeroportA" name="aeroportA" required="required"><br><br>
	   
	   <label for="aeroportoP">Aeroporto di partenza:</label>
	   <input type="text" th:field="*{aeroportoPartenza}" id="aeroportoP" name="aeroportoP" required="required"><br><br>
	   
	 
	   <input type="submit" value="Submit">
	   	   
 	</form>
 	
 	<br>
 	
 	<table>
        <tr>
            <td>
				<form th:action="@{/operatore/menu}" >
				   <input type="submit" value="Menu">
			 	</form>
			</td>
			</td>
        </tr>
    </table>
 	
</body>
</html>