<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Elenco voli</title>
		
		<style>
			table, th, td {
			  border: 1px solid black;
			}
		</style>
		
	</head>
<body>
   <table>
	   <thead>
	        <tr>
	            <th> Codice </th>
	            <th> Aeroporto Partenza </th>
	            <th> Aeroporto Arrivo </th>
	            <th> Orario </th>
	            <th> Codice Aereo </th>
	            <th> Prezzo </th>
	        </tr>
    	</thead>
	    <tbody>
	        <tr th:each="volo : ${voli}">
	            <td><span th:text="${volo.getCodiceVolo()}">  </span></td>
	            <td><span th:text="${volo.getAeroportoPartenza()}">  </span></td>
	            <td><span th:text="${volo.getAeroportoArrivo()}">  </span></td>
	            <td><span th:text="${#dates.format(volo.getOrario(), 'dd-MM-yyyy HH:mm')}">  </span></td>
	            <td><span th:text	="${volo.getCodiceAereo()}">  </span></td>
	            <td><span th:text	="${volo.getPrezzo()}">  </span>$</td>
	        </tr>
	    </tbody>
    </table>
    <br>
    
    <form th:action="@{/}">
	   <input type="submit" value="Menu">
 	</form>
    
</body>
</html>